<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="navHeader" role="header">
        <div class="container">
            <h1 role="logo">
                <a href="index.html" title="KAI"
                ><img
                        src="assets/images/kai-logo.png"
                        class="img-fluid"
                        title="KAI logo"
                        alt="KAI logo"
                /></a>
            </h1>

            <div class="header-nav-wrapper"></div>

            <nav role="header-nav" class="navy">
                <ul>
                    <li class="nav-active">
                        <a href="index.html" title="Home">Home</a>
                    </li>
                    <li>
                        <a href="pages/about.html" title="About">About</a>
                    </li>
                    <li>
                        <a href="pages/profile.html" title="Profile">Profile</a>
                    </li>
                    <li>
                        <a href="pages/login.html" title="Login">Login</a>
                    </li>
                    <li>
                        <a href="pages/login.html" title="Logout">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

</body>
</html>