<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <title>KAI | About</title>
    <link
      rel="shortcut icon"
      href="/assets/images/kai-favicon.ico"
      type="image/icon type"
    />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <link href="/assets/css/fonts.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/effects/grid.css" rel="stylesheet" />
    <link href="/assets/css/effects/normalize.css" rel="stylesheet" />
    <link href="/assets/css/effects/component.css" rel="stylesheet" />
  </head>

  <body>
  <div th:insert="fragments/navHeader.html :: navHeader"></div>

  <!--    <header role="header">-->
<!--      <div class="container">-->
<!--        <h1 role="logo">-->
<!--          <a href="../index.html" title="KAI"-->
<!--            ><img-->
<!--              src="/assets/images/kai-logo.png"-->
<!--              class="img-fluid"-->
<!--              title="KAI logo"-->
<!--              alt="KAI logo"-->
<!--          /></a>-->
<!--        </h1>-->

<!--        <div class="header-nav-wrapper"></div>-->

<!--        <nav role="header-nav" class="navy">-->
<!--          <ul>-->
<!--            <li>-->
<!--              <a href="../index.html" title="Home">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-active">-->
<!--              <a href="about.html" title="About">About</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="profile.html" title="Profile">Profile</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="login.html" title="Login">Login</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </header>-->

    <main role="main-inner-wrapper" class="container">
      <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <article class="about-quote" role="pge-title-content">
            <header class="about-title">
              <h2>We do what we love to do.</h2>
            </header>
            <p>
              <em
                >"Clients do not come first. Employees come first. If you take
                care of your employees, they will take care of the clients."</em
              >
            </p>
            <p class="quote-name">
              Richard Branson - Founder of The Virgin Group
            </p>
          </article>
        </section>

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <article class="about-content">
            <h2>Our Story</h2>
            <p>
              KAI means sea in Hawaiian, Japanese and Native American. Started
              in 2020 by three young programmers to make their mark in the
              workplace and individual lives.
            </p>
            <p>
              We help organisations care for their employees' mental well-being,
              supporting them through grief, stress, anxiety, trauma and
              relationships. We enable them to take control of their lives
              allowing them to focus on what really matters on the job.
            </p>
          </article>
        </section>

        <!-- <div class="clearfix"></div> -->

        <section class="about-section">
          <h2>Meet Our Team</h2>
          <div class="about-profile">
            <figure class="about-card">
              <img
                src="/assets/images/about-images/Isaac.jpg"
                class="img-responsive"
              />
            </figure>
            <div class="about-profile-details">
              <h3>Isaac Chong</h3>
              <h4>Web Developer</h4>
              <p>
                I have been interested in programming and am considering in
                learning Web Development as a first step to see if I could
                transform my interests into a viable career path.
              </p>
              <ul class="social-icons">
                <li>
                  <a href="#"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="http://github.com/IsaacChong96"
                    ><i class="fa fa-github" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/ichong1996"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="about-profile">
            <figure class="about-card">
              <img
                src="/assets/images/about-images/kimberly.jpg"
                class="img-responsive"
              />
            </figure>
            <div class="about-profile-details">
              <h3>Kimberly Wan</h3>
              <h4>Web Developer</h4>
              <p>
                Kimberly strives to be a web developer creating interactive web
                apps. She is a curious learner and can't wait to delve into the
                tech industry.
              </p>
              <ul class="social-icons">
                <li>
                  <a href="https://www.linkedin.com/in/kimberlywanst"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="http://github.com/kimberlywanst"
                    ><i class="fa fa-github" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/kimberlywanst"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="about-profile">
            <figure class="about-card">
              <img
                src="/assets/images/about-images/Andy.JPG"
                class="img-responsive"
              />
            </figure>
            <div class="about-profile-details">
              <h3>Andrew Oh</h3>
              <h4>Web Developer</h4>
              <p>
                Andrew is an aspiring back end developer who is intent on
                focusing on Java and Python. He is an avid learner and is
                excited about this career pivot into this new industry.
              </p>
              <ul class="social-icons">
                <li>
                  <a href="https://www.linkedin.com/in/andrew-oh-07198545"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://github.com/andrewuhoh"
                    ><i class="fa fa-github" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/AndrewO23397471"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer th:insert="/fragments/footer.html :: footer">     </footer>

    <!--    <footer role="footer">-->
<!--      <h1 role="logo">-->
<!--        <a href="../index.html" title="KAI"-->
<!--          ><img src="/assets/images/kai-logo.png" title="KAI" alt="KAI"-->
<!--        /></a>-->
<!--      </h1>-->

<!--      <nav role="footer-nav">-->
<!--        <ul>-->
<!--          <li><a href="../index.html" title="Home">Home</a></li>-->
<!--          <li><a href="about.html" title="About">About</a></li>-->
<!--          <li><a href="stories.html" title="Stories">Stories</a></li>-->
<!--          <li><a href="login.html" title="Login">Login</a></li>-->
<!--        </ul>-->
<!--      </nav>-->

<!--      <ul role="social-icons">-->
<!--        <li>-->
<!--          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a>-->
<!--        </li>-->
<!--      </ul>-->

<!--      <p class="copy-right">&copy; 2020 KAI All Rights Reserved</p>-->
<!--    </footer>-->

    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/nav.js" type="text/javascript"></script>
    <script src="/assets/js/custom.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/html5shiv.js" type="text/javascript"></script>
    <!-- Start of ChatBot (www.chatbot.com) code -->
    <script type="text/javascript">
      window.__be = window.__be || {};
      window.__be.id = "6035e33be778240007a0a640";
      (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
      })();
    </script>
  </body>
</html>
