<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <title>KAI | Publish</title>
    <link
      rel="shortcut icon"
      href="/assets/images/kai-favicon.ico"
      type="image/icon type"
    />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <link href="/assets/css/fonts.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
      type="text/css"
      media="screen"
      charset="utf-8"
    />
  </head>

  <body>
    <header th:replace="/fragments/navHeader.html :: navHeader"></header>

    <main role="main-inner-wrapper" class="container">
      <section class="section-publish">
        <form
          action="#"
          th:action="@{/post/image/new}"
          th:object="${post}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="publish-area">
            <input
              class="publish-title"
              type="text"
              id="title"
              th:field="*{title}"
              placeholder="Title"
            />
            <div class="publish-right">
              <button type="submit" class="publish-button">Publish</button>
            </div>
          </div>
          <hr />

          <div class="upload-image">
            <label class="upload-button" for="image">
              <input
                id="image"
                type="file"
                name="image"
                accept="image/png, image/jpeg"
              />
              <i class="fa fa-picture-o" aria-hidden="true"></i>
              Upload image
            </label>
          </div>
          <!-- Medium editor -->
          <textarea
            class="editable"
            id="content"
            th:field="*{content}"
          ></textarea>

          <input
            type="hidden"
            id="user_id"
            name="user_id"
            th:value="${user.id}"
          />
          <input type="hidden" id="id" name="id" th:value="${post.id}" />
        </form>
      </section>
    </main>
    <div th:insert="fragments/footer.html :: footer"></div>

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <script src="/assets/js/publish.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Start of ChatBot (www.chatbot.com) code -->
    <script type="text/javascript">
      window.__be = window.__be || {};
      window.__be.id = "6035e33be778240007a0a640";
      (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
      })();
    </script>
  </body>
</html>
