<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <title>KAI | Register</title>
    <link
      rel="shortcut icon"
      href="/assets/images/kai-favicon.ico"
      type="image/icon type"
    />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <link href="/assets/css/fonts.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/effects/grid.css" rel="stylesheet" />
    <link href="/assets/css/effects/normalize.css" rel="stylesheet" />
    <link href="/assets/css/effects/component.css" rel="stylesheet" />
  </head>
  <body>
    <div th:insert="fragments/navHeader.html :: navHeader"></div>

    <main role="main-inner-wrapper" class="container">
      <div class="row">
        <section class="form-container col-md-6">
          <form th:action="@{/user/new}" th:object="${user}" method="post">
            <img
              src="/assets/images/kai-icon.png"
              class="img-fluid"
              title="KAI icon"
              alt="KAI icon"
            />
            <h1>Create Account</h1>
            <label for="username">Username</label>
            <input
              th:field="*{username}"
              type="text"
              name="username"
              id="username"
            />
            <label for="email">Email</label>
            <input th:field="*{email}" type="email" name="email" id="email" />

            <label for="password">Password</label>
            <input
              th:field="*{password}"
              type="password"
              name="password"
              id="password"
            />
            <label>Confirm Password</label>
            <input type="password" name="retype_password" />
            <button type="submit">Sign Up</button>
            <p>Existing user?</p>
            <p>
              <a href="login.html">Login here</a>
            </p>
            <input type="hidden" th:value="user" th:attr="name='userType'" />
          </form>
        </section>
      </div>
    </main>

    <div th:insert="fragments/footer.html :: footer"></div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/jquery.contact.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/effects/masonry.pkgd.min.js"></script>
    <script src="/assets/js/effects/imagesloaded.js"></script>
    <script src="/assets/js/effects/classie.js"></script>
    <script src="/assets/js/effects/AnimOnScroll.js"></script>
    <script src="/assets/js/effects/modernizr.custom.js"></script>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/userControllerClass.js"></script>
    <!-- Start of ChatBot (www.chatbot.com) code -->
    <script type="text/javascript">
      window.__be = window.__be || {};
      window.__be.id = "6035e33be778240007a0a640";
      (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
      })();
    </script>
  </body>
</html>
